@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(31, 31, 31);
    height: 100%;
    width: 100%;
}

/* Shared Classes */
.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 3.5rem;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: rgb(31, 31, 31);
}

main {
    background-color: black;
}

/* --------------------nav style begins------------------------------------------- */

.brand-name {
    color: rgb(236, 91, 69);
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;
}

.links {
    display: flex;
    list-style: none;
    gap: 60px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    padding: 12px 8px;
}

.list-item {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    padding-right: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#round {
    padding: 8px 20px;
    background-color: rgb(230, 83, 60);
    border-radius: 30px;
    font-weight: 600;

}

/* --------------------------------nav style ends--------------------------- */

/* -----------------------Banner Style Begins----------------------------- */
.banner-container {
    display: flex;
    justify-content: space-between;
}

.img-container {
    max-width: 50%;
    height: auto;
}

.text-container {
    max-width: 50%;
    height: auto;
}


.banner-heading {
    font-family: "Inter", sans-serif;
    font-size: 6rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 10px;
}

.change {
    font-family: "Allura", cursive;
    font-size: 8.12rem;
    font-weight: 200;
}

.banner-d {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.btn-join {
    background: rgb(230, 83, 60);
    border-radius: 60px;
    color: white;
    padding: 15px 45px;
    border-style: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-down {
    background-color: rgb(31, 31, 31);
    border-radius: 60px;
    color: white;
    border-color: white;
    padding: 15px 45px;
    font-size: 1.5rem;
    font-weight: 500;
}

.body-builder {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.slide1 {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    top: 120px;
    left: 220px;
    width: 170px;
    height: 80px;
}

.number1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.number3 {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

.text2,
.text4 {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
}

.img-container {
    position: relative;
}


.slide2 {
    position: absolute;
    bottom: 60px;
    right: 280px;
    width: 170px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
    backdrop-filter: blur(5px);
    display: flex;
    gap: 10px;
    align-items: center;
}

.dot {
    height: 40px;
    width: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    display: inline-block;
}

.cont {
    display: flex;
    flex-direction: column;
}

/* -----------------------Banner Style Ends----------------------------- */

/* ----------------------Habit Style Begins--------------------------------- */

.habit-title {
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.habit-d {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 4rem;
}

.cont-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.cont-h {
    color: white;
    font-size: 1rem;

}

.card-d {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    margin-bottom: 3rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



/* ----------------------Habit Style Ends--------------------------------- */

/* ------------------ ----Run Extra Mile Design Starts------------------------*/
.run-extra-mile {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 40px;
    margin-left: 190px;
    margin-right: 190px;


}

.text-left {
    max-width: 30%;
}

.run-title {
    max-width: 100%;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}

.run-d {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    max-width: 100%;
    margin-bottom: 45px;

}



.background {
    width: 400px;
    height: 300px;
    background-image: url(../images/run.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}



/* ------------------ ----Run Extra Mile Design Ends--------------------------*/

/* --------------------Meet our Team Design Starts---------------------------- */
.card-name {
    font-size: 1.8rem;
    color: white;
    font-weight: 800;
    position: absolute;
    top: 75%;
    left: 5%;
}

.job-title {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 85%;
    left: 5%;
}

.row1,
.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.row1 {
    margin-bottom: 2rem;
}

.card {
    width: 100%;
    height: 25rem;
    position: relative;

}

.team-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    filter: brightness(80%);
}

.meet-our-team {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.meet-our-team>h2 {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 4rem;
}

.meet-our-team>p {
    max-width: 50%;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.team-container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

/* --------------------Meet our Team Design Ends---------------------------- */

/* -----------------Footer Design Begins------------------------------------- */
.start-des {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

.start-div {
    width: 40%;
}

.start-title {
    color: rgb(230, 83, 60);
    font-size: 3.5rem;
    font-style: italic;
    margin-bottom: 2rem;

}

.footer-container {
    background: rgba(8, 8, 8, 0.1);
    
}

.foot-note {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
    
}

.middle-links {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    text-decoration: none;
}

.middle-title {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-bottom: 3rem;
}

hr {
    width: 80%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-bottom: 2.1rem;

}

.parent-div {
    
    max-width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    margin-bottom: 4rem;
}
.middle-list{
    list-style: none;
}
.middle-list li{
    margin-bottom: 1.5rem;
}


/* -----------------Footer Design Ends------------------------------------- */